/******* GENERAL *******/
/* spacing on all sections */
#about,
#skills,
#portfolio,
#contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
#about h2,
#skills h2,
#portfolio h2,
#contact h2 {
    margin-bottom: 3rem;
}
#contact {
    padding-bottom: 4rem;
}


body.dark {
    background-color: #111010;
}
body.light {
    background-color: #dcd6dea4;
}

.dark .navbarScroll {
    background-color: #2c2b2b;
    
}

.light .navbarScroll {
    background-color: #c6c2c8;
}

/* POLICES */

@font-face {
    font-family: 'Pacifico' ;
    src: url('./Polices/Pacifico.ttf') ;
}

@font-face {
    font-family: 'Quicksand';
    src: url('./Polices/Quicksand_Book.otf');
}

@font-face {
    font-family: 'Bellarina';
    src: url('./Polices/Bellarina.otf');
}

/***** MENU *****/
.darkmode-toggle {
    margin-left : 4px;
    margin-right : 4px;
}

.light .darkmode-toggle i {
    color : #FA58AC;
}

.dark .darkmode-toggle i {
    color : #7f797c;
}

/* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #979393;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #FA58AC;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #FA58AC;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


.navbar .container {
    margin-left: 15px;
    max-width: 100%;
}

.nav-link i{
    padding-right: 5px;
}

.light .navbar-nav a.nav-link {
    color:#FA58AC;
    font-size: 20px;
    font-family: 'Quicksand';
}

.dark .navbar-nav a.nav-link {
    color:#FA58AC;
    font-size: 20px;
    font-family: 'Quicksand';
}

/***** a propos *****/

.about {
    margin-top: 70px;
}

.about_text {
    font-family: "Quicksand";
    color: #088A85;
    font-size: 18px;
    margin-left: 30px;
    margin-right: 80px;
}

.about_me {
    display: flex;
    align-items: center ;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title h1 {
    font-family: 'Bellarina';
    font-size: 95px;
    font-weight: 900;
    background: linear-gradient(to right, #FA58AC, #088A85);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 1%;
    width: 50%
}

#title h1.subtitle {
    font-size: 70px;
    background: linear-gradient(to left, #FA58AC, #088A85);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: flex-end;    
}

.button {
    display: flex;
    justify-content: center;
}

#button_cv {
    border-radius: 25px;
    padding: 15px;
    font-family: "Quicksand";
    font-size: 20px;
    font-weight: 1000;
    overflow: hidden;
    border: 2px solid #FA58AC;
}

.photo_moi {
    border-radius: 1000px;
    filter: grayscale(0%);
    transition: filter 1.5s ease-in-out;
    margin: 20px;
    width: 259px;
    height: 360px;
}

.photo_moi:hover {
    filter: grayscale(100%);
}

/* BOUTON CV CLAIR*/

.light #button_cv {
    background-color: #dcd6dea4;
    position: relative;
    overflow: hidden;
    color: #088A85;
    transition: color 1.5s ease;
}

.light #button_cv::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #f5c3dda8;
    transition: left 1.5s ease;
}
  
.light #button_cv:hover {
    color: #000000;
}

.light #button_cv:hover::before {
    left: 0;
}

/* BOUTON CV SOMBRE */

.dark #button_cv {
    background-color: #111010;
    position: relative;
    overflow: hidden;
    color: #088A85;
    transition: color 1.5s ease;
}

.dark #button_cv::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #f5c3dda8;
    transition: left 1.5s ease;
}
  
.dark #button_cv:hover {
    color: #7cf5f1;
}

.dark #button_cv:hover::before {
    left: 0;
}




/***** MES PROJETS *****/

#portfolio h1 {
    color :#088A85;
    font-family: "Pacifico";
}

a.github-link {
    color :#088A85;
}

a.github-link:hover {
    color :#FA58AC;
}

.text-center {
    font-family: "Pacifico";
    font-size: 50px;
    color: #FA58AC;
}

.button-filter {
    margin-bottom: 80px;
    gap: 40px;
    font-family: "Quicksand";
    font-size: 20px;
}

.button-filter button {
    border-radius: 25px;
    border: 2px solid #088A85;
    padding: 5px;
    width: 350px;
    font-weight: 1000;
    color: #088A85;
}

.light .button-filter button {
    background-color: #dcd6dea4;
}

.button-filter button:hover {
    border: 4px solid #088A85;
}

.dark .button-filter button {
    background-color: #111010;
}

.button-filter button.selected {
    border: 4px solid #088A85;
}

/***** CARROUSEL *****/
.carrousel {
    padding-bottom: 90px;
}

.carrousel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 470px;
	position: relative;
}
.carrousel .img {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	object-fit: cover;
	object-position: center;
}

.carrousel img {
    width: 600px;
    height: 350px;
    border-radius: 25px;
}

.carrousel p {
	position: absolute;
	width: 50%;
	height: 50%;
    font-family: "Quicksand";
    color: white;
    padding: 50px;
}

.carrousel .arrow {
    position: absolute;
    font-size: 150px;
    cursor:pointer;
    font-weight: 100;
    color : #FA58AC;
}

.carrousel .arrow:hover{
    text-shadow: 0 0 20px #088A85; 
}

.carrousel .arrow_left {
	left: 200px;
}
.carrousel .arrow_right {
	right: 200px;
}

.dots {
	position: absolute;
	bottom: 45px;
	display: flex;
}
.dot {
	margin-inline: 5px;
	width: 13px;
	height: 13px;
	background-color: #ffffff00;
	border: 3px solid #fff;
	border-radius: 100%;
    list-style-type: none;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);;
}
.dot_selected {
	background-color: #fff;
}

.light .dot {
    background-color: #f7c1dd;
}

.light .dot_selected {
    background-color: #088A85;
}


/* skills */
.skillsText.card {
    height: 350px;
    cursor: pointer;
}
.skillsText img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}
#skills p {
    text-align: center;
}
.skillsIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .skillsIcon {
    color: #008000;
}
.skillsText:hover {
    border: 1px solid #008000;
}

/* portfolio */
#portfolio p {
    text-align: center;
}

/* contact */
.contactColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactColumn i {
    color: #198754;
}

/* footer */
